* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1751f0;
  padding: 15px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  color: white;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
  background-color: #ff5c33;
  color: white;
}

.search-box input {
  padding: 6px 15px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.hero {
  background:linear-gradient(rgb(156, 108, 203),rgb(2, 12, 59));
  background-size: cover;
  background-repeat: no-repeat;
  background-image:url("/static/Image/home3.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 80px;
}

.hero-content {
  color: blue;
  padding-left: 50px;
  max-width: 600px;
}

.hero-content h4 {
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn {
  background-color: #2b44ff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #1a32d1;
}
