{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Placement Management System</title>
  <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>
<body>
  <header class="navbar">
    <div class="logo">Placement Management System</div>
    <nav>
      <ul class="nav-links">
        <li><a href="{%url 'home'%}">Home</a></li>
        <li><a href="{%url 'student'%}">Student</a></li>
        <li><a href="{%url 'company'%}">Company</a></li>
     
      </ul>
    </nav>
    <div class="auth-buttons">
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'admin_list' %}">Signup</a>
    </div>
  </header>

  <section class="hero">
    <div class="hero-content">
      <h4>Placement Management System</h4>
      <h1>We Are The Best<br>Placement Cell</h1>
    </div>
  </section>
  <footer class="F1">
    <p>@ 2025 G1. alright recived.</p>
  </footer>
</body>
</html>
