{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Confer</title>
  <link rel="stylesheet" href="{% static 'css/company.css' %}">
</head>
<body>
  <header>
    <div class="top-bar">
      <p>🕗 8:00 - 9:00 Mon - Fri &nbsp; | &nbsp; 📞 +123 456 7890 For Appointment</p>
    </div>
    <nav class="navbar">
      <div class="logo">Placement Management System</div>
      <ul class="nav-links">
        <li><a href="{%url 'home'%}">Home</a></li>
        <li><a href="{%url 'admin'%}">Admin</a></li>
        <li><a href="{%url 'student'%}">Student</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <div class="overlay"></div>
    <div class="hero-content">
      <h1>Fastest Way to Achieve Success</h1>
      <p>Lorem ipsum dolor sit amet elit. Phasellus ut mollis mauris. Vivamus egestas eleifend dui ac consequat at lectus in malesuada</p>
      <div class="hero-buttons">
        <a href="#" class="btn primary">Get Started</a>
        <a href="#" class="btn secondary">Watch Video</a>
      </div>
    </div>
  </section>
</body>
</html>
