{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Django App</title>
    <link rel="stylesheet" href="{% static 'css/styles1.css' %}">
</head>

    <header>
       <div class="logo">Placement Management System</div>
    {% if request.session.logged_in %}
        <p id="user_login">Welcome, {{ request.session.username }}! (<a href="{% url 'logout' %}">Logout</a>)</p>
    {% else %}
        <p></p>
    {% endif %}

    <nav>
      <a href="{%url 'student'%}" class="bt" >STUDENT LOGIN</a>
      <a href="{%url 'admin'%}" class="bt" >ADMIN LOGIN</a>
      <a href="{%url 'company'%}"  class="bt">COMPANY LOGIN</a>
      
    </nav>
    </header>


    <main>
        <section class="hero">
        <h1>PLACEMENT MANAGEMENT SYSTEM</h1>
        <p>We are here to build your skills and career with our proven passion and reality.<br>
        Click below to get our current drive details.</p>
        <a href="#" class="btn">CURRENT DRIVES</a>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 G1. All rights reserved.</p>
    </footer>

</body>
</html>
